html.fit, html.fit body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.layout {
  height: 100%;
  weight: 100%;
  display: flex;
  flex-direction: column;
}

.layout.horizontal {
  flex-direction: row;
}

.layout .flex {
  flex: 1;
}
