@media screen {
  /* line 2, ../scss/xin-contrib.scss */
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select,
  span.field {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0.5em;
    height: 2.3125em;
    width: 100%;
    border: 1px solid #dddddd;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: 300;
    background: #fff;
  }
}
/* line 39, ../scss/xin-contrib.scss */
.xc-fill-container {
  position: relative;
}

/* line 43, ../scss/xin-contrib.scss */
.xc-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 51, ../scss/xin-contrib.scss */
.xc-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}
/* line 53, ../scss/xin-contrib.scss */
.xc-flex.xc-fill {
  position: absolute;
}
/* line 90, ../scss/xin-contrib.scss */
.xc-flex.vertical {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 98, ../scss/xin-contrib.scss */
.xc-flex.vertical > div {
  width: 100%;
}
/* line 106, ../scss/xin-contrib.scss */
.xc-flex.horizontal {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* line 114, ../scss/xin-contrib.scss */
.xc-flex.horizontal > div {
  height: 100%;
}
/* line 121, ../scss/xin-contrib.scss */
.xc-flex > div.no-flex {
  position: absolute;
  z-index: 99;
}
/* line 125, ../scss/xin-contrib.scss */
.xc-flex > div.no-flex.left {
  left: 0;
  padding-left: 5px;
}
/* line 130, ../scss/xin-contrib.scss */
.xc-flex > div.no-flex.right {
  right: 0;
  padding-right: 5px;
}
/* line 136, ../scss/xin-contrib.scss */
.xc-flex > div.center {
  position: relative;
  min-height: 1px;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  flex-align: stretch;
}

/* line 153, ../scss/xin-contrib.scss */
.xin-pane > .xin-view.xin-show.xc-flex.vertical {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 161, ../scss/xin-contrib.scss */
.xc-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
