/* line 1, ../scss/include/_global.scss */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* line 6, ../scss/include/_global.scss */
body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../scss/include/ui/_layout.scss */
body .xin-layout {
  display: none;
}

/* line 1, ../scss/include/ui/_outlet.scss */
.xin-view {
  background-color: #fff;
  z-index: 999;
}

/* line 1, ../scss/include/ui/_pane.scss */
.xin-pane {
  overflow: hidden;
  position: relative;
  z-index: 10;
}
/* line 6, ../scss/include/ui/_pane.scss */
.xin-pane > .xin-view {
  position: absolute;
  left: -999999999;
  top: -999999999;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  display: none;
}
/* line 20, ../scss/include/ui/_pane.scss */
.xin-pane > .xin-view.xin-show {
  display: inherit;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* line 3, ../scss/include/ui/_navbar.scss */
.xin-navbar,
.xin-tabstrip {
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-width: 1px 0;
  background-clip: border-box;
  background-color: rgba(244, 244, 244, 0.95);
  line-height: 2.5em;
  text-align: center;
}

/* line 14, ../scss/include/ui/_navbar.scss */
.xin-region-header .xin-navbar,
.xin-region-header .xin-tabstrip {
  border-top: 0;
}

/* line 21, ../scss/include/ui/_navbar.scss */
.xin-region-footer .xin-navbar,
.xin-region-footer .xin-tabstrip {
  border-bottom: 0;
}

/* line 2, ../scss/include/ui/_list.scss */
.xin-list li {
  border-top: 1px solid rgba(180, 180, 180, 0.5);
}
/* line 5, ../scss/include/ui/_list.scss */
.xin-list li:first-child {
  border-top: 0;
}
/* line 9, ../scss/include/ui/_list.scss */
.xin-list li a {
  padding: .5em .7em;
  display: block;
}

/* line 1, ../scss/include/ui/_drawer.scss */
.xin-drawer {
  position: fixed !important;
  -webkit-transition: all .3s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-top: 0;
  border-bottom: 0;
}
