code {
  margin-bottom: 10px;
}

.card {
  padding: 16px;
  border: 1px solid #999;
  border-radius: 4px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aligner-item {
  max-width: 50%;
  text-align: center;
}
