/**
 * normalize
 */
@media screen {
    * {
        padding: 0;
        margin: 0;
    }

    html {
        font-family: sans-serif;
    }

    body {
        font-size: 14px;
        color: #000;
        -webkit-font-smoothing: antialiased;
    }

    /*.layout-body {
        padding: 10px;
    }*/
}
