@import "../lib/normalize.css/normalize.css";

html {
  height: 100%
}

body {
  font-weight: 300;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0;
  margin-top: 20px
}

.padding {
  padding: 20px;
}

xin-pager {
  overflow: visible!important;
}

xin-markdown-view table {
  width: 100%;
}

xin-markdown-view pre {
  background-color: #eee;
  padding: 20px;
  overflow: auto;
}
