.xin-drawer {
    // display: none;
    position: fixed!important;
    -webkit-transition: all .3s;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // background-color: red;
    // z-index: 9999;
    z-index: -1;
    border: 1px solid rgba(180, 180, 180, 0.5);
    border-top: 0;
    border-bottom: 0;
}