.xin-list {
    li{
        border-top: 1px solid rgba(180,180,180,0.5);

        &:first-child {
            border-top: 0;
        }

        a {
            padding: .5em .7em;
            display: block;
        }
    }
}