
.xin-navbar,
.xin-tabstrip {
    border: 1px solid rgba(180,180,180,0.5);
    border-width: 1px 0;
    background-clip: border-box;
    background-color: rgba(244,244,244,0.95);
    line-height: 2.5em;
    text-align: center;
}

.xin-region-header {
    .xin-navbar,
    .xin-tabstrip {
        border-top: 0;
    }
}

.xin-region-footer {
    .xin-navbar,
    .xin-tabstrip {
        border-bottom: 0;
    }
}