.xin-pane {
    overflow: hidden;
    position: relative;
    z-index: 10;

    &>.xin-view {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0px);
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d;
        -webkit-perspective: 1000;
        -webkit-transform: translate3d(0, 0, 0);

        display: none;

        &.xin-show {
            display: inherit;
        }
    }
}