.xin-pane {
    overflow: hidden;
    position: relative;

    &>.xin-view {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        display: none;

        &.xin-show {
            display: inherit;
        }
    }
}