
<div class="padding">
  <h2>xin-for</h2>

  <p>Click product to delete</p>

  <ul>
    <xin-for items="[[products]]" as="product">
      <template>
        <li (click)="deleteProduct(index)">
          <span>[[product.name]]</span>
          <span style="float: right">[[formatPrice(product.price)]]</span>
        </li>
      </template>
    </xin-for>
  </ul>

  <a href="#" (click)="addNewProduct(evt)">Add New Product</a>
</div>

<div class="padding">
  <form id="userForm" (submit)="submitForm(evt)">
    <div>
      <label>Username</label>
      <input type="text" value="{{user.username}}">
    </div>
    <div>
      <label>Password</label>
      <input type="password" value="{{user.password}}">
    </div>
    <input type="submit">
  </form>
</div>

<div class="padding">
  <foo-alarm interval="1000" (hit)="gotHit(evt)"></foo-alarm>
  <div>
    <xin-for items="[[events]]">
      <template>
        <div>[[item]]</div>
      </template>
    </xin-for>
  </div>
</div>


