xin-pager {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;

  .xin-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
