<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xin Demo: Simple</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" type="text/css" href="../../css/xin.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/xin-contrib.min.css" />

    <link rel="stylesheet" type="text/css" href="./css/simple.css" />

</head>
<body data-role="app" style="display: none">

    <div data-role="layout" data-id="drawer" class="xc-flex vertical">
        <div data-region="header">
            <div class="xin-navbar xc-flex horizontal">
                <div class="no-flex" style="left:0">

                </div>
                <div class="xin-title center">
                    Menu
                </div>
                <div class="no-flex" style="right:0">

                </div>
            </div>
        </div>
        <div data-region="body" class="center layout-body">

        </div>
    </div>

    <div data-role="layout" data-id="default" class="xc-flex vertical">
        <div data-region="header">
            <div data-role="navbar" class="xc-flex horizontal">
                <div class="no-flex" style="left:0">
                    <a href="#" onclick="xin.$('.xin-drawer').data('instance').show(); return false">menu</a>
                </div>
                <div data-region="title" class="xin-title center">
                    Simple Demo
                </div>
                <div class="no-flex" style="right:0">

                </div>
            </div>
        </div>
        <div data-region="body" class="center layout-body">

        </div>
        <div data-region="footer">
            <div class="xin-navbar">
                <div class="xin-title">
                    Footer
                </div>
            </div>
        </div>
    </div>

    <div data-role="layout" data-id="back" class="xc-flex vertical">
        <div data-region="header">
            <div data-role="navbar" class="xc-flex horizontal">
                <div class="no-flex" style="left:0">
                    <a href="#" class="back">Back</a>
                </div>
                <div data-region="title" class="xin-title center">
                    Simple Demo
                </div>
                <div class="no-flex" style="right:0">

                </div>
            </div>
        </div>
        <div data-region="body" class="center layout-body">

        </div>
        <div data-region="footer">
            <div class="xin-navbar">
                <div class="xin-title">
                    Footer
                </div>
            </div>
        </div>
    </div>

    <div data-role="pane" data-transition="slide" class="xc-fill" data-id="pane">
        <div data-model="anuan.model" data-id="anu.model"></div>

        <div data-role="view" data-uri="login" data-id="login" data-background="red" data-layout="default" data-title="Login">
        <!-- <div data-role="view" data-layout="default" data-title="Login"> -->
            <form action="">
                <ul data-role="list" data-model="anuan.model">
                    <li>
                        <input type="text" placeholder="Username" name="username" data-bind="name" />
                    </li>
                    <li>
                        <input type="text" placeholder="Password" name="password" />
                    </li>
                </ul>
            </form>

            <div data-role="simple.Anu" data-model="simple.Anu.model" id="anu">
                <input type="text" data-bind="name" />
                <span data-bind="name"></span>
                <a href="#" data-bind="click:doAnu">Anu</a>

            </div>

            <div data-role="view" data-model="simple.Anu.model" id="itu">
                <input type="text" data-bind="name" />
                <span data-bind="name"></span>

            </div>
        </div>

        <div data-role="view" data-uri="signup" data-layout="default" data-title="Signup">
            <div data-role="anu.ui.Form">
                <div data-value="Sebuah value">xxx</div>
                <a href="#" class="click" data-bind="click:doClick2">Click</a>
            </div>
        </div>

        <div data-role="view" data-uri="list" data-layout="default" data-title="List">
            <ul data-role="list" data-collection="listData">
                <template>
                    <li data-name="<%= model.get('username') %>">
                        <%= model.get('username') %> (<%= model.get('age') %>)
                    </li>
                </template>
            </ul>
        </div>

        <div data-role="view" data-uri="back" data-layout="back" data-title="Back">
            <ul data-role="list" data-collection="listData">
                <template>
                    <li data-name="<%= model.get('username') %>">
                        <%= model.get('username') %> (<%= model.get('age') %>)
                    </li>
                </template>
            </ul>
        </div>

        <!-- <script type="text/template" id="listTemplate">
            <li>
                <%= model.get('username') %> (<%= model.get('age') %>)
            </li>
        </script> -->

    </div>

    <div data-role="drawer" data-align="left" data-layout="drawer" style="width: 80%">
        <ul data-role="list">
            <li><a href="#">Login</a></li>
            <li><a href="#signup">Signup</a></li>
            <li><a href="#list">List</a></li>
            <li><a href="#back">Back</a></li>
        </ul>
    </div>

    <script type="text/javascript" src="../../vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../../vendor/underscore-min.js"></script>
    <script type="text/javascript" src="../../vendor/backbone-min.js"></script>

    <script type="text/javascript" src="../../js/xin.js"></script>

    <script type="text/javascript" src="./js/simple.js"></script>

    <!-- <script type="text/javascript" src="http://localhost:9999/devreload.js"></script> -->

</body>
</html>